@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Yantramanav&display=swap');
// Google Fonts : Yantramanav - Bold/Blocky Heading
// Google Fonts : Poppins - Thin/Tall Text

/*
    Table of Contents

    1. CSS Reset

    2. Global Variables

    3. Page & Content Wrappers : Layout
        3a. Page Wrapper
        3b. Main Wrapper

    4. Components : Layout
        4a. Header Component [ Header ]
        4b. Navigation Component [ Nav ]
        4c. Section Component [ Container ]
        4d. Article Component [ Content ]
        4e. Footer Component [ Footer ]

    5. Component Elements : Styles
        5a. Hero Page [ Hero ]
        5b. Content Elements [ Content ]
        5c. Footer Elements [ Footer ]
        5d. Image Container [ Image-Container ]
        5e. Banner Element
        5f. Rewards Unordered List
        5g. Quoted Container

    6. Remove Specific Content - Desktop Elements
    7. Media Queries : Tablet, Laptop, Desktop

*/

// 1. CSS Reset
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

// 2. Global Variables
:root {

    // Developer Borders
    --wireframe: 2px solid darkblue;
    --component: 2px solid limegreen;

    // Google Fonts
    --font-titles: 'Yantramanav', sans-serif;
    --font-text: 'Poppins', sans-serif;

    // Production Colors
    --clr-darkgrey: rgb(34, 33, 33);
    
}

h1,h2,h3,h4,h5,h6 {font-family: var(--font-titles); font-weight: bold 900;}
p {font-family: var(--font-text);}

/*
    3. Page & Content Wrappers - Layout Properties

    3a. Page Wrapper : Contains all page/app elements
    3b. Main Wrapper : Contains all section components

*/
.page {
    background: lightgray;
    min-height: 100vh;
    width: 100%;
}
main {
    position: relative; // Positioned relative to attach the Intersection Oberserver Trigger Element to page scroll.
    border: 2px solid darkblue;
    overflow: hidden;
    
    .trigger { // Intersection Observer Trigger Element
        position: fixed;
        right: 10px;
        text-decoration: underline;
    }
}

/*
    4. Components - Layout Properties

    4a. Header Component : Contains Navigation Component & Action Event Button.
    4b. Navigation Component : Contains Navigation menu list.
        - Hidden via Javascript with the opacity style feature.
        - Becomes visible [ opacity:1 ] when the Navigation Menu Event Button is clicked/activated.
    4c. Section Component : Contains content Article Component
        - Selected via Javascript to trigger GSAP Imagery animations once a section has been scrolled
    4d. Article Component : Content elements consisting of title, text & imagery.
        - Houses the animated Image Container & accommodating imagery.
    4e. Footer Component : Contains List elements  with internal & external links.
*/

/*
    ========== 4a. Header Component ==========
*/
header { 
    display: flex;
    flex-direction: row-reverse;
    height: 10vh;
    
    // dev border
    border: var(--component);

    /*
        ========== 4b. Navigation Component ==========
    */
    nav {
        height: 100%;
        width: 80%;
        list-style-type: none; // remove default list style
        
        // dev border
        border: var(--wireframe);

        ul { // Navigation List Element
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            height: 100%;
            list-style-type: none; // remove default list properties
            transition: 200ms all ease-in; // transition for hidden list elements

            li { // Navigation List Item

                // dev border
                border: var(--wireframe);
            }
        }
    }

    // Navigation Menu Event Button
    button {
        height: 100%;
        width: 20%;
        
        // dev border
        border: var(--wireframe);
    }
}

/*
    ========== 4c. Section Component ==========
*/
section { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    height: 100%;

    // dev border
    border: var(--component);

    /*
        ========== 4d. Article Component ==========
    */  
    article {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 2rem;
        padding-right: 1rem;
        height: 100%;

        // dev border
        border: var(--component);

        a {
            margin-bottom: 2rem;
        }
    }
}

/*
    ========== 4e. Footer Component ==========
*/
footer {
    // Display Properties [ Grid ]
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(50px, auto);
    gap: 10px;
    padding: 10px;
    margin-top: 5rem;

    background: rgb(34, 33, 33);
    color: #FFF;
    
    ul { // Footer List Properties
        list-style: none;
        font-family: var(--font-titles);
        margin-top: 1.5rem;

        // dev border
        border: var(--wireframe);
    }
    // Grid List Placement
    ul:nth-child(1) {
        grid-column: span 2;
    }
    ul:nth-child(2) {
        grid-column: span 2;
    }
    ul:nth-child(3) {
        grid-column: span 4;
    }

}


/*
    5. Component Elements - Style Properties

        5a. Hero / Landing Page
        5b. Content Elements
        5c. Footer Elements
        5d. Image Container
        5e. Banner Element
        5f. Rewards List
        5g. Quoted Container
*/

/*
    ========== 5a. Hero Page ==========
*/
#hero {
    background-image: url(../assets/img/bannerBirdsEye.jpeg);
    background-position: center;
    background-attachment: fixed;
    position: relative;

    .content {
        background:rgba(50, 18, 71, 0.411);;
        height: 100vh;
        width: 100%;
        color: #FFF;
    }
    .content-title {
        font-size: 3.2rem;
    }
}

/*
    ========== 5b. Content Elements ==========
*/
.content-title {
    border-bottom: 2px solid #000;
    font-size: 2rem;
    letter-spacing: 0.2rem;
    margin-top: 1.75rem;
    max-width: 285px;
    padding-right: 0.45rem;
    text-transform: capitalize;
}
.content-tagline {
    font-size: 1.1rem;
    margin-top: 1rem;
    text-transform: capitalize;

    // dev border
    border: 2px solid red;
}
.content-text {
    font-size: 1.18rem;
    line-height: 1.6;
    margin-top: 2rem;
    padding: 1rem 0;
}

/*
    ========== 5c. Footer Elements ==========
*/
.footer-items { // ul Internal Links [ Site Map List ]
    display: flex;
    align-items: center;
    grid-column: span 1;
    padding-left: 1rem;
    font-size: 0.95rem;
    font-weight: bold;
    text-transform: uppercase;    
    
}
.footer-list-row { // ul External Links [ Social Media List ]
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-height: 50px;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    
    // dev border
    border: var(--component);

    .footer-title { // External Links [ Title Element ]
        font-weight: bold;
        font-size: 1.1rem;
        text-transform: capitalize;
        letter-spacing: 0.08rem;
    }
    .footer-items { // External Links List [ Footer Items ]
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        border: 2px solid #FFF;

        transition: 120ms all ease-in;
    }
    .footer-items:hover {
        transition: 100ms all ease-in-out;
        background: lightgray;
    }
    .footer-items:hover i {
        color: var(--clr-darkgrey);
    }

}
/*
    ========== 5d. Image Container ==========
*/
.image-container {
    height: 350px;
    position: relative;
    margin-top: 5rem;

    // dev border
    border: var(--wireframe);

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center;

        box-shadow: 9px 10px 7px -6px rgba(0,0,0,0.79); // box shadow for image elements
        -webkit-box-shadow: 9px 10px 7px -6px rgba(0,0,0,0.79);
        -moz-box-shadow: 9px 10px 7px -6px rgba(0,0,0,0.79);
    }
    .img-lrg {
        position: relative;
        z-index: 1;
        // width: 225px;
        // height: 300px
    }
    .img-sml {
        position: absolute;
        bottom: 0px;
        right: 0px;
        height: 220px;
        width: 175px;
        z-index: 2;
        object-position: left bottom;
        opacity: 0.9;
    }
}

/*
    ========== 5e. Banner Element ==========
*/
.banner {
    // Display Properties : Flex
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 35vh;
    margin-top: 2rem;
    margin-bottom: 2rem;

    // Background Image Properties
    background-image: url(../assets/img/bannerCafe.jpeg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

    .banner-text {
        // dev border
        border: var(--wireframe);
    }
    .banner-title {
        font-size: 1.75rem;
        // dev border
        border: var(--wireframe);
    }
}

/*
    ========== 5f. Rewards Unordered List ==========
*/
#rewards ul {
    // Display Properties : Grid
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(50px, auto);
    gap: 5px;
    list-style-type: none;
    min-height: 35vh;
    width: 100%;
    
    .items {
        // Display Properties : Flex
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        // dev border
        border: var(--wireframe);
    }

    // grid items placement
    .items:nth-child(1) {
        grid-column: span 4;
        background: var(--clr-darkgrey);
        color: #FFF;
    }
    .items:nth-child(2) {
        display: none; // remove second grid item from view
    }
    .items:nth-child(3) {
        grid-column: span 4;
    }

    // Button Elements [ Create As Global Styles/Properties ]
    .btn-light {
        margin-top: 0.75rem;
        padding: 0.25rem;
        background: transparent;
        border: 2px solid #FFF; // change color to color-variable
        color: #FFF; // change color to color-variable
    }
    .btn-dark {
        margin-top: 0.75rem;
        padding: 0.25rem;
        background: #000;
        border: 2px solid #FFF; // change color to color-variable
        color: #FFF; // change color to color-variable
    }
}


/*
    ========== 5g. Quoted Container ==========
*/
.quotedContainer {
    // background:red;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    min-height: 25vh;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;

    // quoted content elements
    .quote-text {
        font-size: 1.25rem;
        font-style: italic;
        letter-spacing: 0.2rem;
        padding: 1rem;
        text-align: center;
    }
    .quote-author {
        font-size: 0.95rem;
        font-weight: bold;
        padding: 1rem;
        text-align: center;
    }
}

/*
    6. Remove Specific Content - Desktop Elements

*/
#internal-links .removeDesktopElement {display: none;} // remove this specific list item on mobile devices





/*
    7. Media Query [ Desktop ]

    Apply these styles when the condition is met.
    Device width is greater than 760px.

*/
@media (min-width:760px) {
    // .removeDesktopElement {display: inline;}
}