/* css reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* css variables */
:root {
    --wireframe: 4px solid darkblue;
    --debugging: 3px dotted darkred;
    --component: 3px dotted darkgreen;

    --border: 3px solid #FFF;
    
    --sp-sm: 1%;
    --sp-md: 5%;
    --sp-lg: 10%;

    --clr-main: #000;
    --clr-off: #FFF;
    --clr-sub: grey;


}

/* 
    table of contents

    1. container
    2. header
    3. content
    4. app
    5. slides
    6. buttons
    7. media

*/

/* 1 section : container */
.container {
    height: 100vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    
    background: rgba(197, 136, 57, 0.836);
}

/* 2 header : header */
.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    height: 15vh;
    width: 100%;

    color: #FFF;
    
    border: var(--wireframe);
}
.header h1,
.header p {
    letter-spacing: 2px;
    padding-left:  var(--sp-md);
}

/* 3 main : content */
.content {
    height: 100%;
    width: 100%;
    
    position: relative;

    border: var(--wireframe);
}

/* 4 section : app */
.app {
    position: relative;
    
    height: 100%;
    width: 100%;
    
    background: red;
}
/* 5 article : sc */
.app .sc {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: minmax(25px, auto);
    
    position: absolute;
    top: 0;
    left: 0;
    
    height: 100%;
    width: 100%;

    filter: grayscale(0);
    transition: 2000ms all ease-out;
    
}
.sc .elmnts {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.sc .elmnts:nth-child(1) {
    grid-column: span 6;
    grid-row: span 2;
}
.sc .elmnts:nth-child(2) {
    grid-column: span 6;
    grid-row: span 2;
}
.sc .elmnts:nth-child(3) {
    grid-column: span 6;
    grid-row: span 2;
}

.sc p {
    padding: var(--sp-md);
}

/* sc backgrounds */
.sc:nth-child(1) {
    background-image: url(img/slide01.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;

    filter: grayscale(1);
    transition: 1200ms all ease-in-out;
}
.sc:nth-child(2) {
    background: blue;
    background-image: url(img/slide02.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;

    filter: grayscale(1);
    transition: 1200ms all ease-in-out;
}
.sc:nth-child(3) {
    background: lightgreen;
    background-image: url(img/slide03.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;

    filter: grayscale(1);
    transition: 1200ms all ease-in-out;
}
.sc:nth-child(4) {
    background: black;
    background-image: url(img/slide04.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;

    filter: grayscale(1);
    transition: 1200ms all ease-in-out;
}

/* 6 button : btn next | btn prev  */
.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10vh;

    border: var(--wireframe);
}
.buttons button {
    background: transparent;
    border: var(--border);
    color: var(--clr-off);
    
    margin: auto;
    font-weight: bold;
    font-size: 1.75rem;
    height: 50px;

    width: 100%;
    max-width: 200px;
}

/* 7 media : desktop */

@media screen and (min-width:960px) {
    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
    }
    .app {
        max-width: 1100px;
        max-height: 700px;
    
    }
    .app .sc {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-auto-rows: minmax(50px, auto);
    
        border: var(--component);
    } 
    .sc .elmnts {
        border: var(--debugging);
    }
    .sc .elmnts:nth-child(1) {
        grid-column: span 12;
    }
    .sc .elmnts:nth-child(2) {
        grid-column: span 8;
        
    }
    .sc .elmnts:nth-child(3) {
        grid-column: span 4;
    }
}